In [19]:
import pandas as pd
from netaddr import *
import ipaddress
import codecs
import re

In [20]:
ip_regex = "\d+\.\d+\.\d+\.\d"

### fixed allocables

In [21]:
fixed_allocable = "/var/jpnic/data/allocable-jpnic/jprs-address.txt"
fixed_alloc_df = pd.read_csv(fixed_allocable, delimiter = "\n", names = ("IPrange",))

for i, entry in enumerate(fixed_alloc_df["IPrange"]):
    start_end = re.findall(ip_regex, entry)
    n = IPSet()
    n.add(IPRange(start_end[0], start_end[1]))
    fixed_alloc_df["IPrange"][i] = n

In [22]:
fixed_alloc_df["IPrange"][0]

IPSet(['133.0.0.0/9', '133.128.0.0/10', '133.192.0.0/11', '133.224.0.0/12', '133.240.0.0/13', '133.248.0.0/14', '133.252.0.0/15', '133.254.0.0/16', '133.255.0.0/17', '133.255.128.0/18', '133.255.192.0/19', '133.255.224.0/20', '133.255.240.0/21', '133.255.248.0/22', '133.255.252.0/23', '133.255.254.0/24', '133.255.255.0/31', '133.255.255.2/32'])

### dynamic allocables

In [23]:
dyn_allocable = "/var/jpnic/data/allocable-jpnic/apnic-address.csv"
dyn_alloc_df = pd.read_csv(dyn_allocable, delimiter = "\n", names = ("IPrange(dec)",))

for j, entry in enumerate(dyn_alloc_df["IPrange(dec)"]):
    start_end = re.findall("\d+", entry)
    start = ipaddress.IPv4Address(int(start_end[0]))
    end = ipaddress.IPv4Address(int(start_end[1]))
    n = IPSet()
    n.add(IPRange(str(start), str(end)))
    dyn_alloc_df["IPrange(dec)"][j] = n
    
clmn_name = {"IPrange(dec)": "IPrange"}
dyn_alloc_df = dyn_alloc_df.rename(columns = clmn_name)

In [24]:
dyn_alloc_df["IPrange"][0]

IPSet(['1.0.16.0/20'])

In [25]:
allocable_df = pd.concat([fixed_alloc_df, dyn_alloc_df])
allocable_df = allocable_df.reset_index(drop = True)
allocable_df

                                                IPrange
0     (133.0.0.0, 133.0.0.1, 133.0.0.2, 133.0.0.3, 1...
1     (192.50.0.0, 192.50.0.1, 192.50.0.2, 192.50.0....
2     (192.218.0.0, 192.218.0.1, 192.218.0.2, 192.21...
3     (192.244.0.0, 192.244.0.1, 192.244.0.2, 192.24...
4     (202.11.0.0, 202.11.0.1, 202.11.0.2, 202.11.0....
...                                                 ...
2198  (223.223.208.0, 223.223.208.1, 223.223.208.2, ...
2199  (223.223.224.0, 223.223.224.1, 223.223.224.2, ...
2200  (223.223.240.0, 223.223.240.1, 223.223.240.2, ...
2201  (223.252.64.0, 223.252.64.1, 223.252.64.2, 223...
2202  (223.252.80.0, 223.252.80.1, 223.252.80.2, 223...

[2203 rows x 1 columns]

### allocateds

In [26]:
allocated_file = "/var/jpnic/data/allocated-jpnic/allocated-jpnic-address.csv"
allocated_df = pd.read_csv(allocated_file, delimiter = "\n", names = ("IPrange(dec)",))

for k, entry in enumerate(allocated_df["IPrange(dec)"]):
    start_end = re.findall("\d+", entry)
    start = ipaddress.IPv4Address(int(start_end[0]))
    end = ipaddress.IPv4Address(int(start_end[1]))
    n = IPSet()
    n.add(IPRange(str(start), str(end)))
    allocated_df["IPrange(dec)"][k] = n
    
clmn_name = {"IPrange(dec)": "IPrange"}
allocated_df = allocated_df.rename(columns = clmn_name)

In [27]:
allocable_df

                                                IPrange
0     (133.0.0.0, 133.0.0.1, 133.0.0.2, 133.0.0.3, 1...
1     (192.50.0.0, 192.50.0.1, 192.50.0.2, 192.50.0....
2     (192.218.0.0, 192.218.0.1, 192.218.0.2, 192.21...
3     (192.244.0.0, 192.244.0.1, 192.244.0.2, 192.24...
4     (202.11.0.0, 202.11.0.1, 202.11.0.2, 202.11.0....
...                                                 ...
2198  (223.223.208.0, 223.223.208.1, 223.223.208.2, ...
2199  (223.223.224.0, 223.223.224.1, 223.223.224.2, ...
2200  (223.223.240.0, 223.223.240.1, 223.223.240.2, ...
2201  (223.252.64.0, 223.252.64.1, 223.252.64.2, 223...
2202  (223.252.80.0, 223.252.80.1, 223.252.80.2, 223...

[2203 rows x 1 columns]

In [28]:
allocated_df

                                                IPrange
0     (1.0.16.0, 1.0.16.1, 1.0.16.2, 1.0.16.3, 1.0.1...
1     (1.0.64.0, 1.0.64.1, 1.0.64.2, 1.0.64.3, 1.0.6...
2     (1.1.64.0, 1.1.64.1, 1.1.64.2, 1.1.64.3, 1.1.6...
3     (1.5.0.0, 1.5.0.1, 1.5.0.2, 1.5.0.3, 1.5.0.4, ...
4     (1.21.0.0, 1.21.0.1, 1.21.0.2, 1.21.0.3, 1.21....
...                                                 ...
5900  (223.223.208.0, 223.223.208.1, 223.223.208.2, ...
5901  (223.223.224.0, 223.223.224.1, 223.223.224.2, ...
5902  (223.223.240.0, 223.223.240.1, 223.223.240.2, ...
5903  (223.252.64.0, 223.252.64.1, 223.252.64.2, 223...
5904  (223.252.80.0, 223.252.80.1, 223.252.80.2, 223...

[5905 rows x 1 columns]

### allocable_dfからallocated_dfの差集合をとる
allocable_dfの各行からallocated_dfの全行に渡って差分をとることを繰り返す&rarr;最後には全体同士の差集合が残る

In [30]:
for available in allocable_df["IPrange"]:
    n1 = available
    for allocated in allocated_df["IPrange"]:
        n2 = allocated
        n1.remove(n2.iprange())
    print(f"{n1}\n", file = codecs.open("/var/jpnic/data/unallocated_new.txt", 'a', 'utf-8'))

In [15]:
allocable_df["IPrange"][0]

IPSet(['133.0.0.0/9', '133.128.0.0/10', '133.192.0.0/11', '133.224.0.0/12', '133.240.0.0/13', '133.248.0.0/14', '133.252.0.0/15', '133.254.0.0/16', '133.255.0.0/17', '133.255.128.0/18', '133.255.192.0/19', '133.255.224.0/20', '133.255.240.0/21', '133.255.248.0/22', '133.255.252.0/23', '133.255.254.0/24', '133.255.255.0/31', '133.255.255.2/32'])

In [16]:
allocated_df["IPrange"][0]

IPSet(['1.0.16.0/20'])